<h1>Log a new Student</h1>

<form action="/students" method="POST">

  <label for="s_name">Name</label>
  <input type="text" name="student[name]" id="s_name"/>

  <label for="s_age">Age</label>
  <input type="number" name="student[age]" id="s_age"/>

  <input type="submit" name="submitty" value="Create a new Student."/>
</form>
