<h1>Show Page for Grandma</h1>

<h6>
  <%= link_to "See All Grandmas", grandmas_path %>
</h6>

<p>
  Name: <%= @grandma.name %>
</p>

<p>
  Age: <%= @grandma.age %>
</p>

<p>
  Experience: <%= @grandma.experience %>
</p>
