<form action="/sheep" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="sheep[name]" >
  <input type="text" name="sheep[country]" >
  <input type="submit" value="Create Sheep">
</form>
